@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap&subset=latin-ext");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    font-family: "Inter", sans-serif;
    background-color: #f0f8f7;
    color: #1a3b66;
  }
}
